[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.*"
pytest = "*"
pygrid-tiles = {editable = true, path = "."}
black = "==21.6b0"

[dev-packages]

[requires]
python_version = "3.8"
